.ant-menu,.ant-menu-sub,.ant-menu-inline{
    /* color: white; */
    background-color:rgb(94,194,196) !important;
    height: calc(100vh - 100px);
    overflow: hidden;
  }
  .bigbox{
    display: flex;
  }
  .centerbox{
    width: calc(100% - 256px);
    height: calc(100vh - 100px);
    /* background-color: blueviolet; */
    position: absolute;
    margin-left: 256px;
    overflow: hidden;
  }
  :where(.css-dev-only-do-not-override-33f5ww).ant-pagination .ant-pagination-options {
    display: none;
  }
